@tailwind base;
@tailwind components;
@tailwind utilities;


.glass-container {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  padding: 20px;
}

.flex-with-gap {
  @apply flex flex-col gap-5;
}

.form-input {
  @apply px-5 py-3 rounded-md w-full border-2 outline-none;
}

.primary-button {
  @apply px-10 py-3 bg-secondary text-white rounded-md;
}

.secondary-button {
  @apply px-10 py-3 border-secondary border-2 text-secondary rounded-md;
}